// Override default variables before the import
body {
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(31,7,42,1) 100%); 
  font-size: 12px;
  min-height: 100vh;
}

.main_container {
  height: 100%;
  font-size: 10pt;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 768px) { 
  p {
    padding: 0 10px !important;
  }
}

p {
  font-size: 0.9em;
  font-weight: 300;
  padding: 0;
  text-align: left;
}

h1 {
  font-family: Nunito;
  font-size: 2em !important;
  font-weight: 600 !important;
  line-height: 1.7 !important;
}

h2 {
  font-family: Nunito;
  font-size: 1.5em !important;
  font-weight: 600 !important;
  line-height: 1.7 !important;
  font-variant-caps: small-caps;
}

h3 {
  font-family: Nunito;
  font-size: 1.1em !important;
  font-weight: 600 !important;
  // font-variant-caps: small-caps;
  line-height: 1.7 !important;
}

h4 {
  font-family: Nunito;
  font-size: 1em !important;
  font-weight: 600 !important;
  line-height: 1.7 !important;
}

h5 {
  font-family: Nunito;
  color: rgb(7, 55, 99);
  font-style: italic;
  font-size: 0.9em !important;
  font-weight: 600 !important;
  text-align: left;
}

.bold {
  font-weight: 600 !important;
}

// Box shadow options
.bs-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.bs-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

// Padding options
.pd-5 {
  padding: 0 7px;
}
.pd-15 {
  padding: 0 15px;
}
.pd-20 {
  padding: 0 20px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}

.mw-50 {
  max-width: 50%;
}

.mb-0 {
  margin-bottom: 0;
}
.ml-10 {
  margin-left: 10px;
}

.bb {
  border-bottom: 1px rgb(48, 48, 48) solid;
  margin-bottom: 15px;
}

.bt {
  border-top: 1px rgb(48, 48, 48) solid;
  padding-top: 15px;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';