$background: #f5f5f5 !default;

body {
  background: $background !important;
}

.main_container {
  height: 105vh;
  font-size: 10pt;
  margin: 0 auto;
  width: calc(100% - 20px);
}

.navbar {
  margin-left: -10px;
  width: calc(100% + 20px);
}

p {
  font-size: 10pt;
}

// Box shadow options
.card_shadow_1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card_shadow_2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

// Padding options
.pd-20 {
  padding: 0 20px;
}
.pd-5 {
  padding: 0 7px;
}
.pt-15 {
  padding-top: 15px;
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
// @include media-breakpoint-up(md) {
//   .main_container {
//     height: 105vh;
//     font-size: 10pt;
//     margin-left: 69px;
//     width: calc(100% - 69px);
//   }
// }
@media (min-width: 768px) {
  .main_container {
    height: 105vh;
    font-size: 10pt;
    margin-left: 69px;
    width: calc(100% - 69px);
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
